name: Application Testing

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.*'
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    strategy:
      matrix:
        go-version: [ 1.16.x, 1.17.x, 1.18.x, 1.19.x ]
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Lint with golangci-lint
        uses: golangci/golangci-lint-action@v2
      - name: Run postgres container
        run : docker-compose up -d --build
      # - name: Run Go Test for controllers
      #   run : go run main.go &
      #        go test ./controllers
      - name: Run Go Test for Models
        run : go test $(go list ./... | grep -v /controllers)